.App-header {
  background-color: #061127;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.countdown-heading {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.timer-wrapper {
  background-color: beige;
  box-shadow: inset 0 0 10px #000000;
  display: flex;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}
.timer-heading {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}
.timer-values {
  margin: 0;
}
.timer-data {
  font-size: 2rem;
  font-weight: bold;
  color: #ececec;
  text-align: center;
  background-color: #000000;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #000000;
}
.btn-wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: space-evenly;
}
.btns {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  transform: scale(1);
}
.btns:hover {
  background-color: #ff6a00;
  transform: scale(1.1);
  transition: all 0.3s;
  color: #fff;
}